/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: serif;
}

svg {
  font-family: monospace, Arial;
}

.line {
  stroke-width: 2;
  fill: none;
}

.axis path {
  stroke: black;
}

.text {
  font-size: 12px;
}

.title-text {
  font-size: 12px;
}